<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>报表v1</title>
    <link href="/resource/vux/dist/vux.css" rel="stylesheet" />
    <style type="text/css">
        body, html {
        }

        header {
            position: fixed;
            width: 100%;
            z-index: 1;
        }

        .vux-scroller-header-box {
            padding-top: 100px;
        }
    </style>
    <script src="/resource/vue/vue.js"></script>
</head>
<body>
    <div id="app">

        <header>
            <x-header :left-options="{showBack: false}">
                比邻3d订单查询<a slot="right" v-on:click="onShowSearch"><icon type="search"></icon> 搜索</a>
            </x-header>
            <tab :line-width=1>
                <tab-item selected v-on:click="showTab(0)">表格</tab-item>
                <tab-item v-on:click="showTab(1)">柱状图</tab-item>
                <tab-item v-on:click="showTab(2)">饼图</tab-item>
            </tab>
        </header>

        <div class="vux-scroller-header-box" v-show="vs===0">

            <div class="box2">


                <h3><a href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx34e6d95f227d51be&redirect_uri=http%3A%2F%2Fwww.being3d.net%2Fcrm%2Fsuccess&response_type=code&scope=snsapi_base&state=123#wechat_redirect'>验证1</a></h3>

                <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx34e6d95f227d51be&redirect_uri=http%3A%2F%2Fwww.being3d.net%2Fcrm%2Fsuccess&response_type=code&scope=snsapi_base&state=STATE#wechat_redirect">验证2</a>

                <div>
                    <button class="btn btn-default" v-on:click="onShowSetting">
                        <span class="glyphicon glyphicon-cog" style="z-index: 0;"></span> 设置
                    </button>
                </div>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th v-for="item in fields" v-show="item.visible">{{item.title}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="shop in shops">
                            <td v-for="item in fields" v-show="item.visible">{{shop[item.name]}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>

            </div>

        </div>

        <div class="vux-scroller-header-box" v-show="vs===1">
            <scroller :scrollbar-x=false :scrollbar-y=false height="-100px" :bounce="false">
                <div class="pcontent">
                    <div>柱状图</div>
                    <p v-for="i in 200">placeholder {{i}}</p>
                </div>
            </scroller>
        </div>

        <div class="vux-scroller-header-box" v-show="vs===2">
            <scroller :scrollbar-x=false :scrollbar-y=false height="-100px" :bounce="false">
                <div class="pcontent">
                    <div>饼图</div>
                    <p v-for="i in 200">placeholder {{i}}</p>
                </div>
            </scroller>
        </div>

        <popup :show.sync="show1">
            <div>
                <search :auto-fixed="false" :value.sync="searchFor"></search>

                <selector placeholder="请选择类别" title="类别：" :options="list"></selector>

                <x-input title="日期："
                         type="date"></x-input>

                <div style="margin:0px 15px 6px 15px;">
                    <x-button type="primary">确定</x-button>
                </div>
            </div>
        </popup>

        <popup :show.sync="show2">
            <div class="modal-header">
                <h4 class="modal-title">表格设置</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">要显示的字段</h4>
                        </div>
                        <div class="panel-body">
                            <div class="checkbox" v-for="field in fields">
                                <label>
                                    <input type="checkbox" v-model="field.visible">
                                    {{ field.title == '' ? field.name.replace('__', '') : field.title | capitalize }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  <div class="modal-footer">
                 <x-button type="primary">确定</x-button>
             </div> -->
        </popup>

    </div>

    <script src="/resource/vux/dist/components/group/index.js"></script>
    <script src="/resource/vux/dist/components/cell/index.js"></script>
    <script src="/resource/vux/dist/components/tab/index.js"></script>
    <script src="/resource/vux/dist/components/tab-item/index.js"></script>
    <script src="/resource/vux/dist/components/sticky/index.js"></script>
    <script src="/resource/vux/dist/components/button-tab/index.js"></script>
    <script src="/resource/vux/dist/components/button-tab-item/index.js"></script>
    <script src="/resource/vux/dist/components/search/index.js"></script>
    <script src="/resource/vux/dist/components/selector/index.js"></script>
    <script src="/resource/vux/dist/components/divider/index.js"></script>
    <script src="/resource/vux/dist/components/x-button/index.js"></script>
    <script src="/resource/vux/dist/components/x-input/index.js"></script>
    <script src="/resource/vux/dist/components/popup/index.js"></script>
    <script src="/resource/vux/dist/components/x-header/index.js"></script>
    <script src="/resource/vux/dist/components/icon/index.js"></script>
    <script src="/resource/vux/dist/components/scroller/index.js"></script>

    <script src="/resource/fastclick/lib/fastclick.js"></script>
    <script src="/resource/jquery/dist/jquery.js"></script>

    <!-- vue-table -->
    <link rel="stylesheet" href="/resource/vue-table/css/bootstrap.min.css">

    <script>
        FastClick.attach(document.body);

        // register components
        Vue.component('group', vuxGroup);
        Vue.component('cell', vuxCell);
        Vue.component('sticky', vuxSticky);
        Vue.component('tab', vuxTab);
        Vue.component('tab-item', vuxTabItem);
        Vue.component('button-tab', vuxButtonTab);
        Vue.component('button-tab-item', vuxButtonTabItem);
        Vue.component('search', vuxSearch);
        Vue.component('selector', vuxSelector);
        Vue.component('divider', vuxDivider);
        Vue.component('x-button', vuxXButton);
        Vue.component('x-input', vuxXInput);
        Vue.component('popup', vuxPopup);
        Vue.component('x-header', vuxXHeader);
        Vue.component('icon', vuxIcon);
        Vue.component('scroller', vuxScroller);

        var tableColumns = [
            {
                name: 'id',
                title: 'id编号',
                visible: true
            },
            {
                name: 'name',
                title: '姓名',
                visible: true
            },
            {
                name: 'email',
                title: '电子邮件',
                visible: true
            },
            {
                name: 'nickname',
                title: '昵称',
                visible: true
            },
            {
                name: 'birthdate',
                title: '生日',
                visible: true
            },
        ];

        var vm = new Vue({
           el: '#app',
           data : function(){
                return {
                    vs:0,
                    show1: false,
                    show2:false,
                    shops:[],
                    //shopname: "",
                    // show2: false,
                    list: [
                        {key: '1', value: '鞋子'},
                        {key: '2', value: '服装'},
                        {key: '3', value: '配件'}
                    ],

                    msg: '表格!',

                    //
                    searchFor: '',
                    fields: tableColumns,
                }
            },
            watch: {
                'perPage': function(val, oldVal) {

                }
            },
            methods: {
                onChange : function(val) {
                  console.log(val)
                },
                onShowSetting:function(){
                    // this.$parent.show2 = true;
                    this.show2 = true;
                    // alert(this.$parent.show2);
                },
                onShowSearch:function(){
                    // this.$parent.show2 = true;
                    this.show1 = true;
                    // alert(this.$parent.show2);
                },
                showTab : function(val){
                    this.vs= val;
                },
                onSubmit:function(){

                },

                /**
                 * Callback functions
                 */
                gender: function(value) {
                  return value == 'M'
                    ? '<span class="label label-info"><i class="glyphicon glyphicon-star"></i> Male</span>'
                    : '<span class="label label-success"><i class="glyphicon glyphicon-heart"></i> Female</span>'
                },
                formatDate: function(value, fmt) {
                    if (value == null) return ''
                    fmt = (typeof fmt == 'undefined') ? 'D MMM YYYY' : fmt
                    return moment(value, 'YYYY-MM-DD').format(fmt)
                }

            },
            events: {
                'vuetable:load-success': function(response) {
                    //this.tableHight = $(".table").height();
                    //alert(this.tableHight);
                    //var hei = $(".table-responsive").height();
                    //this.tableHight = $(".table").height();
                    //alert(hei);

                    //alert(this.tableHight);
                    //$(".table-responsive").height(this.tableHight);

                    var data = response.data.data
                    console.log(data)
                    if (this.searchFor !== '') {
                        for (n in data) {
                            data[n].name = this.highlight(this.searchFor, data[n].name)
                            data[n].email = this.highlight(this.searchFor, data[n].email)
                        }
                    }
                },
                'vuetable:load-error': function(response) {
                    if (response.status == 400) {
                        sweetAlert('Something\'s Wrong!', response.data.message, 'error')
                    } else {
                        sweetAlert('Oops', E_SERVER_ERROR, 'error')
                    }
                }
            },
            created: function(){

            },
            ready: function () {
                // this.testid = "eeee";
                // var query = this.$route.query.id;
                // // alert(query);
                $.get('./data.json', function (result) {
                    //window.alert(data.id);
                    vm.shops = result.data
                    //alert(data.data);
                });
            }

        });
    </script>
</body>
</html>
