@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
    <title>404</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/pages/page_404_error.css">
</head>


<body>

    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="error-v1">
                    <span class="error-v1-title">404</span>
                    <span>你请求的页面找不到！</span>
                    <a href="/">返回首页</a>
                </div>
            </div>
        </div>
    </div>
       
</body>
</html>	
