<div class="container content" id="home">
    <div class="row service-block-v6">
        <div class="col-md-4 md-margin-bottom-50">
            <i class="icon-custom rounded-x icon-color-u icon-line icon-bulb"></i>
            <div class="service-desc">
                <h2>工业级精度</h2>
                <p>提供高达16微米层厚的打印精度，足以胜任脱蜡铸造和模具原型制作</p>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-50">
            <i class="icon-custom rounded-x icon-color-u icon-line icon-energy"></i>
            <div class="service-desc">
                <h2>军工级材料</h2>
                <p>进口/国产材料可选。即使采用国产材料，完全达到航天制造标准</p>
            </div>
        </div>
        <div class="col-md-4">
            <i class="icon-custom rounded-x icon-color-u icon-line icon-screen-tablet"></i>
            <div class="service-desc">
                <h2>透明价格</h2>
                <p>最低5元起，超低消费门槛，按需选择</p>
            </div>
        </div>
    </div><!--/end row-->
</div>


<div class="process-v1 bg-color-light">
    <div class="container content-sm">
        <div id="process" class="headline-center margin-bottom-60">
            <h2><span>3D打印自助流程</span></h2>
            <p>3D Printing Self-service Process</p>
        </div>
        <ul class="list-inline row process-in process-border">
            <li class="col-sm-3 sm-margin-bottom-50">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>登陆/注册</h3>
                    <p></p>
                </div>
            </li>
            <li class="col-sm-3 sm-margin-bottom-50">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>上传文件在线计价</h3>
                    <p></p>
                </div>
            </li>
            <li class="col-sm-3 sm-margin-bottom-50">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>确认信息支付订单</h3>
                    <p></p>
                </div>
            </li>
            <li class="col-sm-3">
                <div class="process-icon">
                    <i class="rounded-x dot-active"></i>
                </div>
                <div class="process-desc">
                    <h3>订单完成等待收货</h3>
                    <p></p>
                </div>
            </li>
        </ul>
    </div><!--/end container-->
</div>


<style>
    #map {
        width: 100%;
        height: 510px;
    }
</style>
<div id="map"></div>
<script src="http://api.map.baidu.com/api?v=2.0&ak=26904d2efeb684d7d59d493098e7295d"></script>
<script src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
<script src="/hubs.js"></script>
<script>
    var map = new BMap.Map("map", {});                         // 创建Map实例
    map.centerAndZoom(new BMap.Point(105.000, 38.000), 5);     // 初始化地图,设置中心点坐标和地图级别
    map.enableScrollWheelZoom(); 
    var opts = {
        width: 250,     // 信息窗口宽度
        height: 20,     // 信息窗口高度
        //title: "信息窗口", // 信息窗口标题
        enableMessage: true//设置允许信息窗发送短息
    };

    var markers = [];
    for (var i = 0; i < data_info.length; i++) {
        var marker = new BMap.Marker(new BMap.Point(data_info[i][0], data_info[i][1]));  // 创建标注
        var content = data_info[i][2];
        map.addOverlay(marker);               // 将标注添加到地图中
        addClickHandler(content, marker);

        markers.push(marker);
    }
    //最简单的用法，生成一个marker数组，然后调用markerClusterer类即可。
    var markerClusterer = new BMapLib.MarkerClusterer(map, { markers: markers });

    function addClickHandler(content, marker) {
        marker.addEventListener("click", function (e) {
                openInfo(content, e)
            }
		);
    }
    function openInfo(content, e) {
        var p = e.target;
        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
        var infoWindow = new BMap.InfoWindow(content, opts);  // 创建信息窗口对象
        map.openInfoWindow(infoWindow, point); //开启信息窗口
    }
</script>


<div class="container content-sm">
    <div class="row">
        <div class="col-md-6 md-margin-bottom-50">
            <img class="img-responsive" src="/assets/img/mockup/imac2.png" alt="">
        </div>
        <div class="col-md-6">
            <br><br><br>
            <div class="headline-left margin-bottom-30">
                <h2 class="headline-brd">知识教育</h2>
                <p></p>
            </div>
            <ul class="list-unstyled lists-v2 margin-bottom-30">
                <li><i class="fa fa-check"></i> <a href="#">导出STL文件</a>     设计规范  选择合适的材料</li>
                <li><i class="fa fa-check"></i> 不同材料的最小壁厚要求    空心设计中逸出孔的大小要求</li>
                <li><i class="fa fa-check"></i> 立柱的最小壁厚设计要求    凸状和凹状的细节要求</li>
                <li><i class="fa fa-check"></i> 尖锐部分设计要求 间隙设计要求   螺纹的设计要求    深孔/弯孔设计要求</li>
            </ul>
            <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark margin-right-10">更多>></a>
        </div><!--/end row-->
    </div>
</div>
