@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Nancy.Validation;
@using Bilin3d.HtmlExtensions;
@using System.Collections.Generic;

@{
    Layout = "_Layout.cshtml";
}

@section BreadCrumbs {
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">使用说明</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">使用说明</li>
            </ul>
        </div><!--/container-->
    </div>
}


<div class="row">
    <div class="col-md-9">
        <!-- General Questions -->
        <div class="headline"><h2>常见问题</h2></div>
        <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            1. 导出STL格式文件的具体方法
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>以下是使用不同软件，导出STL格式文件的具体方法：</p>
                        <p>
                            <img src="~/public/images/转换为STL格式.jpg" /></p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            2. 设计规范
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p class="MsoNormal" style="line-height: 1.6;"><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif">亲爱的用户，为了确保您的设计能够顺利打印，请您依次操作以下步骤：<span lang="EN-US"><o:p></o:p></span></span></p>

                        <p class="MsoListParagraph" style="margin-left: 21pt; text-indent: -21pt; line-height: 1.6;">
                            <!--[if !supportLists]--><span lang="EN-US" style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif;mso-bidi-font-family:
微软雅黑">
                                1)<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><!--[endif]--><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif">根据实际使用要求，选择材料。</span><a href="http://www.waleyworks.com/index.php?route=information/help_center&amp;help_center_id=1#info-36" target="_blank">查看材料参数</a><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif"><span lang="EN-US"><o:p></o:p></span></span>
                        </p>

                        <p class="MsoListParagraph" style="margin-left: 21pt; text-indent: -21pt; line-height: 1.6;">
                            <!--[if !supportLists]--><span lang="EN-US" style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif;mso-bidi-font-family:
微软雅黑">
                                2)<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><!--[endif]--><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif">检查您的设计的壁厚，务必满足最小壁厚要求。</span><a href="http://www.waleyworks.com/index.php?route=information/help_center&amp;help_center_id=1#info-27" target="_blank">查看不同材料的壁厚设计要求</a><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif"><span lang="EN-US"><o:p></o:p></span></span>
                        </p>

                        <p class="MsoListParagraph" style="margin-left: 21pt; text-indent: -21pt; line-height: 1.6;">
                            <!--[if !supportLists]--><span lang="EN-US" style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif;mso-bidi-font-family:
微软雅黑">
                                3)<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><!--[endif]--><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif">如果您的设计是空心的，务必设计足够大的逸出孔。</span><a href="http://www.waleyworks.com/index.php?route=information/help_center&amp;help_center_id=1#info-28" target="_blank">查看逸出孔设计要求</a><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif"><span lang="EN-US"><o:p></o:p></span></span>
                        </p>

                        <p class="MsoListParagraph" style="margin-left: 21pt; text-indent: -21pt; line-height: 1.6;">
                            <!--[if !supportLists]--><span lang="EN-US" style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif;mso-bidi-font-family:
微软雅黑">
                                4)<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><!--[endif]--><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif">如果您的设计中存在独立柱子，务必满足最小壁厚要求。</span><a href="http://www.waleyworks.com/index.php?route=information/help_center&amp;help_center_id=1#info-31" target="_blank">查看独立柱子的壁厚设计要求</a><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif"><span lang="EN-US"><o:p></o:p></span></span>
                        </p>

                        <p class="MsoListParagraph" style="margin-left: 21pt; text-indent: -21pt; line-height: 1.6;">
                            <!--[if !supportLists]--><span lang="EN-US" style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif;mso-bidi-font-family:
微软雅黑">
                                5)<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><!--[endif]--><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif">如果您的设计中存在凸状或凹状细节（如凸字或凹字等），务必满足最小的宽度和高度要求。</span><a href="http://www.waleyworks.com/index.php?route=information/help_center&amp;help_center_id=1#info-29" target="_blank">查看凸状/凹状设计要求</a><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif"><span lang="EN-US"><o:p></o:p></span></span>
                        </p>

                        <p class="MsoListParagraph" style="margin-left: 21pt; text-indent: -21pt; line-height: 1.6;">
                            <!--[if !supportLists]--><span lang="EN-US" style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif;mso-bidi-font-family:
微软雅黑">
                                6)<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><!--[endif]--><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif">如果您的设计中存在尖锐部分，该部分的角度需要满足最小要求。</span><a href="http://www.waleyworks.com/index.php?route=information/help_center&amp;help_center_id=1#info-30" target="_blank">查看尖锐部分设计要求</a><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif"><br></span>
                        </p>

                        <p class="MsoListParagraph" style="margin-left: 21pt; text-indent: -21pt; line-height: 1.6;">
                            <!--[if !supportLists]--><span lang="EN-US" style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif;mso-bidi-font-family:
微软雅黑">
                                7)<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><!--[endif]--><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif">如果您的设计中包含多个零件，务必满足零件之间最小的间隙要求。</span><a href="http://www.waleyworks.com/index.php?route=information/help_center&amp;help_center_id=1#info-32" target="_blank">查看零件间隙设计要求</a><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif"><br></span>
                        </p>

                        <p class="MsoListParagraph" style="margin-left: 21pt; text-indent: -21pt; line-height: 1.6;">
                            <!--[if !supportLists]--><span lang="EN-US" style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif;mso-bidi-font-family:
微软雅黑">
                                8)<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><!--[endif]--><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif">如果您的设计中存在螺纹，牙型角度和螺距务必达到最小要求。</span><a href="http://www.waleyworks.com/index.php?route=information/help_center&amp;help_center_id=1#info-33" target="_blank">查看螺纹设计要求</a><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif"><br></span>
                        </p>

                        <p class="MsoListParagraph" style="margin-left: 21pt; text-indent: -21pt; line-height: 1.6;">
                            <!--[if !supportLists]--><span lang="EN-US" style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif;mso-bidi-font-family:
微软雅黑">
                                9)<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><!--[endif]--><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif">如果您的设计中存在孔洞，其内径和深度必须满足最小的孔洞要求。</span><a href="http://www.waleyworks.com/index.php?route=information/help_center&amp;help_center_id=1#info-34" target="_blank">查看孔洞设计要求</a><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif"><span lang="EN-US"><o:p></o:p></span></span>
                        </p>

                        <p class="MsoListParagraph" style="margin-left: 21pt; text-indent: -21pt; line-height: 1.6;">
                            <!--[if !supportLists]--><span lang="EN-US" style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif;mso-bidi-font-family:
微软雅黑">
                                10)<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">
                                    &nbsp;
                                </span>
                            </span><!--[endif]--><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif">如果您的设计较为复杂，未来工场可能会判定为异形件，按照特殊规格报价。</span><a href="http://www.waleyworks.com/index.php?route=information/help_center&amp;help_center_id=1#info-35" target="_blank">查看异形件示例</a><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif"><br></span>
                        </p>

                        <p class="MsoNormal" style="line-height: 1.6;"><span style="font-size:11.0pt;font-family:&quot;微软雅黑&quot;,sans-serif">如果您的设计遵守以上设计规范，将极大提高您的订单审核通过率。<span lang="EN-US"><o:p></o:p></span></span></p>	
                        @*<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                            <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                            <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                        </ul>*@
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            3. 选择合适的材料
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>您可以根据您的实际需要选择合适的材料，下面是各种材料的重要信息。</p>
                        <table class="table table-bordered" style="text-align: center;"><tbody><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">材料</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">特点</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">应用领域</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">技术工艺</span></td><td style="text-align: center;"><p><span style="font-family: 'Microsoft YaHei'; line-height: 1.42857143; background-color: transparent;">热变形温度（0.46MPa）</span></p></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">100微米白色光敏树脂</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">表面光滑</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">消费电子</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">SLA</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">46℃</span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">100微米透明光敏树脂</span><span style="font-family: 'Microsoft YaHei';"><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">表面光滑、透明</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">医疗、照明等</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">SLA</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">45℃</span><span style="font-family: 'Microsoft YaHei';"><br></span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">16微米半透明光敏树脂</span><span style="font-family: 'Microsoft YaHei';"><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">表面光滑、硬度高</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">消费电子、精密零部件</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">MJP/Objet</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">56℃</span><span style="font-family: 'Microsoft YaHei';"><br></span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">100微米灰色类ABS</span><span style="font-family: 'Microsoft YaHei';"><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">表面光滑、硬度高、韧性好</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">消费电子、家用电器</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">SLA</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">55℃</span><span style="font-family: 'Microsoft YaHei';"><br></span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">100微米白色尼龙</span><span style="font-family: 'Microsoft YaHei';"><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">表面有颗粒感、硬度高、韧性好</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">汽车配件、家用电器、机电设备</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">SLS</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">140℃</span><span style="font-family: 'Microsoft YaHei';"><br></span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">100微米灰色玻璃纤维</span><span style="font-family: 'Microsoft YaHei';"><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">表面有颗粒感、硬度高、韧性好</span><span style="font-family: 'Microsoft YaHei';"><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">汽车配件、家用电器、机电设备</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">SLS</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">170℃</span><span style="font-family: 'Microsoft YaHei';"><br></span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">33微米淡蓝色光敏树脂</span><span style="font-family: 'Microsoft YaHei';"><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">表面光滑、易碎</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">珠宝首饰</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">MJP/Objet</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">50℃</span><span style="font-family: 'Microsoft YaHei';"><br></span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">25微米金属色钴铬合金</span><span style="font-family: 'Microsoft YaHei';"><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">强度好</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">精密零部件</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">SLM</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">1300℃</span></td></tr></tbody></table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            4. 不同材料的最小壁厚要求
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>在您的3D设计文件中，模型的内、外表面闭合形成薄壁，其中：
                            至少有两个面与其他薄壁相连的，称为支撑性薄壁，如下图：</p>
                        <p><img src="http://www.waleyworks.com/image/catalog/%E6%96%87%E7%AB%A0%E7%AE%A1%E7%90%86/%E6%96%87%E4%BB%B6%E8%AE%BE%E8%AE%A1%E8%A7%84%E8%8C%83/%E6%9C%80%E5%B0%8F%E5%A3%81%E5%8E%9A1-01.jpg" /></p>
                        <p>只有一个面与其他薄壁相连的，称为非支撑型薄壁，如下图：</p>
                        <p><img src="http://www.waleyworks.com/image/catalog/%E6%96%87%E7%AB%A0%E7%AE%A1%E7%90%86/%E6%96%87%E4%BB%B6%E8%AE%BE%E8%AE%A1%E8%A7%84%E8%8C%83/%E6%9C%80%E5%B0%8F%E5%A3%81%E5%8E%9A4-01.jpg" /></p>
                        <p>去除支撑、打磨、喷砂等工序决定了最小立柱壁厚要求，不同材料立柱最小壁厚要求如下：</p>
                        <p>
                            薄壁的厚度我们称为壁厚，相应的可分为支撑型壁厚和非支撑型壁厚。

                            壁厚直接决定了打印物品的强度，也关系着模型能否打印。

                            模型打印出来后，还需要经过去除支撑、打磨、喷砂等处理，这些工序决定了不同材料的最小壁厚。只有当壁厚达到最小壁厚要求，模型才是可打印的。

                            如果您的设计中存在较薄的支撑型薄壁区域，需要根据该区域的大小调整壁厚，具体如下（如选择100微米白色光敏树脂材料，薄壁区域大小在5*5mm以内，其最小壁厚为0.6，其他同理）：
                        </p>
                        <p>
                            <table class="table table-bordered" style="text-align: center;"><tbody><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">材料</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">&nbsp; 5*5mm &nbsp;</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">&nbsp;10*10mm&nbsp;</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">&nbsp;50*50mm&nbsp;</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">100*100mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">200*200mm</span></td></tr><tr><td style="text-align: center;">
                        <p><span style="font-family: 'Microsoft YaHei';">100微米白色光敏树脂</span></p><p><span style="font-family: 'Microsoft YaHei';"><br></span><span style="font-family: 'Microsoft YaHei'; line-height: 17.142858505249px;">100微米白色韧性类ABS树脂</span></p></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.6mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.8mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1.2mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1.5mm</span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';"><span style="line-height: 17.142858505249px;">100微米透明光敏树脂</span><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1.2mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1.5mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">2mm</span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';"><span style="line-height: 17.142858505249px;">16微米半透明光敏树脂</span><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.3mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.5mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1.2mm</span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';"><span style="line-height: 17.142858505249px;">100微米白色尼龙</span><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.8mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.8mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1.2mm</span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';"><span style="line-height: 17.142858505249px;">100微米灰色玻璃纤维</span><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.8mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.8mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1.2mm</span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';"><span style="line-height: 17.142858505249px;">100微米灰色高韧性类ABS树脂</span><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.6mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.8mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1.2mm</span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">33微米淡蓝色光敏树脂</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.6mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">1.2mm</span></td></tr><tr><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';"><span style="line-height: 17.142858505249px;">25微米金属色钴铬合金</span><br></span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.3mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.5mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.5mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.5mm</span></td><td style="text-align: center;"><span style="font-family: 'Microsoft YaHei';">0.5mm</span></td></tr></tbody></table>
                        </p>
                    </div>
                </div>
            </div>
         
        </div><!--/acc-v1-->
        <!-- End General Questions -->
        <!-- Other Questions -->
        <div class="headline"><h2>售后服务</h2></div>
        <div class="panel-group acc-v1" id="accordion-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                            签收/验货
                        </a>
                    </h4>
                </div>
                <div id="collapse-One" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>为保障您的权益，请您在收货时注意以下环节：</p>

                        <p>
                            1.     签收时在付款前与配送人员当面核对：产品名称、应付金额、产品数量及发货清单、发票（如有）等
                        </p>

                        <p>   2.     如存在产品破损、产品错误、产品短缺、产品质量问题等影响签收的因素，请您拨打4000-062-065和客服沟通解决</p>

                        <p>   3.     为了保护您的权益，建议您尽量不要委托他人代为签收；如由他人代为签收产品，而没有在配送人员在场的情况下验收，出现的一切问题，均后果自负</p>

                        <p>   如果您在收到产品3日内，您发现产品有质量问题，请联系客服处理。</p>

                        <p>
                            客服电话：4000-062-065（周一至周日）
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                            返工/退换货
                        </a>
                    </h4>
                </div>
                <div id="collapse-Two" class="panel-collapse collapse">
                    <div class="panel-body">
                       
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                            投诉建议
                        </a>
                    </h4>
                </div>
                <div id="collapse-Three" class="panel-collapse collapse">
                    <div class="panel-body">
                    </div>
                </div>
            </div>

        </div><!--/acc-v1-->
        <!-- End Other Questions -->
    </div><!--/col-md-9-->

    <div class="col-md-3">
        <!-- Business Hours -->
        <div class="headline"><h2>关于比邻3D</h2></div>
        <ul  class="list-unstyled margin-bottom-30 about">
            <li><a href="" class="">服务指南</a></li>
            <li><a href="" class="">帮助中心</a></li>
            <li><a href="" class="active">售后服务</a></li>
            <li><a href="" class="">关于我们</a></li>
        </ul>
        <!-- End Business Hours -->

        <!-- Contacts -->
        <div class="headline"><h2>联系方式</h2></div>
        <ul class="list-unstyled who margin-bottom-30">
            <li><a href="#"><i class="fa fa-home"></i>福建省泉州市经济开发区德泰路51号</a></li>
            <li><a href="#"><i class="fa fa-phone"></i>+86-595 28869023 </a></li>
            <li><a href="#"><i class="fa fa-globe"></i>http://www.bilin3d.com</a></li>
        </ul>
        <!-- End Contacts -->

        <!-- Info Block -->
        @*<div class="headline"><h2>Why we are?</h2></div>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
        <ul class="list-unstyled margin-bottom-30">
            <li><i class="fa fa-check color-green"></i> Odio dignissimos ducimus</li>
            <li><i class="fa fa-check color-green"></i> Blanditiis praesentium volup</li>
            <li><i class="fa fa-check color-green"></i> Eos et accusamus</li>
        </ul>*@
        <!-- End Info Block -->
        <!-- Social -->
        <div class="magazine-sb-social margin-bottom-20">
            <div class="headline headline-md"><h2>其他</h2></div>
            <ul class="social-icons social-icons-color">
                <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
                <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                <li><a href="#" data-original-title="Dropbox" class="social_dropbox"></a></li>
                <li><a href="#" data-original-title="Picasa" class="social_picasa"></a></li>
                <li><a href="#" data-original-title="Spotify" class="social_spotify"></a></li>
                <li><a href="#" data-original-title="Jolicloud" class="social_jolicloud"></a></li>
                <li><a href="#" data-original-title="Wordpress" class="social_wordpress"></a></li>
                <li><a href="#" data-original-title="Github" class="social_github"></a></li>
                <li><a href="#" data-original-title="Xing" class="social_xing"></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- End Social -->
    </div><!--/col-md-3-->
</div>