@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Nancy.Validation;
@using Bilin3d.HtmlExtensions;
@using System.Collections.Generic;

@{
    Layout = "_Layout.cshtml";
}

@section BreadCrumbs {
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">知识教育</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">知识教育</li>
            </ul>
        </div><!--/container-->
    </div>
}


<div class="row equal-height-columns margin-bottom-40">
    <div class="col-sm-4">
        <div class="easy-block-v3 service-or equal-height-column" style="height: 160px;">
            <div class="service-bg"></div>
            <i class="icon-badge"></i>
            <div class="inner-faq-b">
                <h3>What is Unify Template?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="easy-block-v3 service-or equal-height-column" style="height: 160px;">
            <div class="service-bg"></div>
            <i class="icon-directions"></i>
            <div class="inner-faq-b">
                <h3>How to Update Unify?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="easy-block-v3 service-or equal-height-column" style="height: 160px;">
            <div class="service-bg"></div>
            <i class="icon-layers"></i>
            <div class="inner-faq-b">
                <h3>The Features of Unify?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
            </div>
        </div>
    </div>
</div>

<div class="row content-boxes-v2 margin-bottom-40">
    <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
            <i class="icon-custom icon-sm icon-bg-u fa fa-lightbulb-o"></i>
            <span>Small Size</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
    <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
            <i class="icon-custom icon-sm icon-bg-blue fa fa-bullhorn"></i>
            <span>Small Size</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
    <div class="col-sm-4">
        <h2 class="heading-sm">
            <i class="icon-custom icon-sm icon-bg-red icon-line icon-rocket"></i>
            <span>Small Size</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
</div>

<div class="row content-boxes-v2">
    <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
            <i class="icon-custom icon-sm icon-color-u fa fa-lightbulb-o"></i>
            <span>Small Size</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
    <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
            <i class="icon-custom icon-sm icon-color-blue fa fa-bullhorn"></i>
            <span>Small Size</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
    <div class="col-sm-4">
        <h2 class="heading-sm">
            <i class="icon-custom icon-sm icon-color-red icon-line icon-rocket"></i>
            <span>Small Size</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
</div>
